@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-full bg-background;
  }

  :root {
    --background: 55 100% 90%; /* Pantone Minion Yellow (#FFDE00) */
    --foreground: 326 100% 50%; /* Pantone Pink Peacock (#C62168) */

    --card: 271 76% 53%; /* Pantone Ultra Violet (#5F4B8B) */
    --card-foreground: 55 100% 90%; /* Pantone Minion Yellow (#FFDE00) */

    --popover: 169 100% 45%; /* Pantone Arcadia (#0ABAB5) */
    --popover-foreground: 326 100% 50%; /* Pantone Pink Peacock (#C62168) */

    --primary: 326 100% 50%; /* Pantone Pink Peacock (#C62168) */
    --primary-foreground: 55 100% 90%; /* Pantone Minion Yellow (#FFDE00) */

    --secondary: 169 100% 45%; /* Pantone Arcadia (#0ABAB5) */
    --secondary-foreground: 271 76% 53%; /* Pantone Ultra Violet (#5F4B8B) */

    --muted: 35 100% 50%; /* Pantone Orange (#FF8200) */
    --muted-foreground: 271 76% 53%; /* Pantone Ultra Violet (#5F4B8B) */

    --accent: 35 100% 50%; /* Pantone Orange (#FF8200) */
    --accent-foreground: 169 100% 45%; /* Pantone Arcadia (#0ABAB5) */

    --destructive: 0 100% 50%; /* Pantone Fiery Red (#D62828) */
    --destructive-foreground: 55 100% 90%; /* Pantone Minion Yellow (#FFDE00) */

    --border: 326 100% 50%; /* Pantone Pink Peacock (#C62168) */
    --input: 169 100% 45%; /* Pantone Arcadia (#0ABAB5) */
    --ring: 35 100% 50%; /* Pantone Orange (#FF8200) */

    --radius: 0.5rem;
  }

  .dark {
    --background: 271 76% 53%; /* Pantone Ultra Violet (#5F4B8B) */
    --foreground: 55 100% 90%; /* Pantone Minion Yellow (#FFDE00) */

    --card: 326 100% 50%; /* Pantone Pink Peacock (#C62168) */
    --card-foreground: 55 100% 90%; /* Pantone Minion Yellow (#FFDE00) */

    --popover: 35 100% 50%; /* Pantone Orange (#FF8200) */
    --popover-foreground: 169 100% 45%; /* Pantone Arcadia (#0ABAB5) */

    --primary: 55 100% 90%; /* Pantone Minion Yellow (#FFDE00) */
    --primary-foreground: 326 100% 50%; /* Pantone Pink Peacock (#C62168) */

    --secondary: 169 100% 45%; /* Pantone Arcadia (#0ABAB5) */
    --secondary-foreground: 55 100% 90%; /* Pantone Minion Yellow (#FFDE00) */

    --muted: 326 100% 50%; /* Pantone Pink Peacock (#C62168) */
    --muted-foreground: 169 100% 45%; /* Pantone Arcadia (#0ABAB5) */

    --accent: 169 100% 45%; /* Pantone Arcadia (#0ABAB5) */
    --accent-foreground: 35 100% 50%; /* Pantone Orange (#FF8200) */

    --destructive: 0 100% 50%; /* Pantone Fiery Red (#D62828) */
    --destructive-foreground: 55 100% 90%; /* Pantone Minion Yellow (#FFDE00) */

    --border: 35 100% 50%; /* Pantone Orange (#FF8200) */
    --input: 326 100% 50%; /* Pantone Pink Peacock (#C62168) */
    --ring: 169 100% 45%; /* Pantone Arcadia (#0ABAB5) */

    --radius: 0.5rem;
  }
}